<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <h4> <%= @klass.model_name.human(count:2).titleize %> </h4>
      </div>
      <div class="col-md-6">
        <%= form_tag polymorphic_path(@klass), method: 'get' do %>
          <div class="input-group input-group-sm">
            <%= text_field_tag 'search', nil, class: 'form-control' %>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="fa fa-search"></span>
            </button> </span>
          </div><!-- /input-group -->
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to "Agregar #{@klass.model_name.human}", polymorphic_path(@klass, action: :new), class: 'btn btn-md btn-success pull-right' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="<%= @klass.name.pluralize.underscore%>_collection" class="table table-bordered table-striped">
          <thead>
            <% @attributes.each do |attribute, _v| %>
              <th><%= @klass.human_attribute_name(attribute) %></th>
            <% end %>
            <th style="width: 50px;"><%= t('edit') %></th>
            <th style="width: 50px;"><%= t('delete') %></th>
          </thead>
          <tbody>
            <% @object_collection.each do |element| %>
              <tr>
                <% @attributes.each do |attribute, _v| %>
                  <td><%= element.send(attribute)%></td>
                <% end %>
                <td> <%= link_to edit_polymorphic_path(element), class: 'btn btn-primary btn-xs' do %> <span class="fa fa-pencil"></span> <% end %> </td>
                <td> <%= link_to polymorphic_url(element),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' do %> <span class="fa fa-close"></span> <% end %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @object_collection, { class: 'pull-right' } if @object_collection.respond_to? :total_pages %>
    </div>
  </div>
</div>
